In [54]:
import pandas as pd
import sys
from datetime import datetime
from os import environ
from platform import system
from openai import OpenAI
from dotenv import load_dotenv
from pathlib import Path
import json


load_dotenv()

DATA_DIR = Path("../_data")
OUTPUT_DIR = Path("../_output")
OPENAI_API_KEY = environ.get("OPENAI_API_KEY")
METADATA_JSON = OUTPUT_DIR / "openai_headline_batch_metadata.json"
BATCH_OUTPUT_JSONL = OUTPUT_DIR / "openai_headline_batch_output.jsonl"
BATCH_ERROR_JSONL = OUTPUT_DIR / "openai_headline_batch_errors.jsonl"

print(OPENAI_API_KEY)

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

In [55]:
print(DATA_DIR)
print(OUTPUT_DIR)
print(f"{DATA_DIR}/RAVENPACK_cleaned.parquet")

../_data
../_output
../_data/RAVENPACK_cleaned.parquet

In [56]:
df = pd.read_parquet(f"{DATA_DIR}/RAVENPACK_cleaned.parquet")

In [57]:
sub_df = df.copy().iloc[500:510]

In [58]:
sub_df

,rpa_date_utc,rpa_time_utc,timestamp_utc,rp_story_id,rp_entity_id,entity_type,entity_name,country_code,relevance,event_sentiment_score,...,product_key,provider_id,provider_story_id,headline,map_entity_type,map_entity_name,map_ticker,map_cusip,map_isin,rn
500,2022-01-14,22:33:00,2022-01-14 22:33:00.223,B41748143F2069FEA780449802B2A45E,042C91,COMP,Hercules Capital Inc.,US,100.0,0.0,...,RPA,DJ,SN20220114010971,Hercules Capital Prices Upsized Public Offerin...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
501,2022-08-30,11:00:03,2022-08-30 11:00:02.786,6EACBAD3EE51B5EF18125133FC844CF1,042C91,COMP,Hercules Capital Inc.,US,100.0,0.39,...,RPA,DJ,SN20220830006084,Alladapt Announces Loan Agreement with Hercule...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
502,2023-08-07,20:17:00,2023-08-07 20:17:00.276,601C8D1D6DD12564297CA3455CF8AA16,042C91,COMP,Hercules Capital Inc.,US,100.0,0.59,...,RPA,DJ,SN20230807009806,"Hercules Capital, Inc. Announces Public Offeri...",COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
503,2023-04-20,10:00:00,2023-04-20 10:00:00.481,E3E582C58C335EB3FA4841F9E8F7D2F2,042C91,COMP,Hercules Capital Inc.,US,100.0,0.0,...,RPA,DJ,SN20230420006262,Hercules Capital Announces Date for Release of...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
504,2024-02-15,21:07:00,2024-02-15 21:07:00.325,E996D5937D8438A6D8ACB2BD423CAC04,042C91,COMP,Hercules Capital Inc.,US,100.0,0.0,...,RPA,DJ,SN20240215013080,Hercules Capital Reports Fourth Quarter and Fu...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
505,2022-02-22,11:02:00,2022-02-22 11:02:00.317,1A86227309B72812AACB5CC0BB1A6F4F,042C91,COMP,Hercules Capital Inc.,US,100.0,0.0,...,RPA,DJ,SN20220222005299,Hercules Capital Announces New Supplemental Ca...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
506,2024-01-23,21:05:00,2024-01-23 21:05:00.226,A47F136A62D81D1AB5B96F93435DE9B8,042C91,COMP,Hercules Capital Inc.,US,100.0,0.31,...,RPA,DJ,SN20240123010091,Sight Sciences Announces the Closing of up to ...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
507,2023-07-10,10:00:01,2023-07-10 10:00:00.518,7D2121C274C24D660D7104237D65C4AC,042C91,COMP,Hercules Capital Inc.,US,100.0,0.0,...,RPA,DJ,SN20230710003563,Hercules Capital Announces Date for Release of...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
508,2024-04-18,10:00:01,2024-04-18 10:00:00.572,56037966B99F219FED14930C4D60235D,042C91,COMP,Hercules Capital Inc.,US,100.0,0.0,...,RPA,DJ,SN20240418004951,Hercules Capital Announces Date for Release of...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1
509,2022-05-05,20:10:00,2022-05-05 20:10:00.189,0E0D1E47F4AD411CA7A746B3D02784E7,042C91,COMP,Hercules Capital Inc.,US,100.0,0.0,...,RPA,DJ,SN20220505018468,Hercules Capital Reports First Quarter 2022 Fi...,COMP,Hercules Capital Inc.,HTGC,427096508,US4270965084,1

In [79]:
import submit_headlines_to_openai as open_ai_adapter
import process_openai_responses as open_ai_processor
openai_client = OpenAI(api_key=OPENAI_API_KEY)

# result = open_ai_adapter.make_requests_jsonl(sub_df, "gpt-4")
# result

In [79]:
batch_file_id = open_ai_adapter._upload_batch_file(openai_client)

Uploaded batch file: file-8jD16j49SGdUcUbYmwt2aF

In [80]:
batch_id = open_ai_adapter._create_batch_job(openai_client, batch_file_id)

Created batch job: batch_6995ecf7e7a48190a05f21d5dca09add

In [81]:
batch_data = open_ai_adapter._poll_until_done(openai_client, batch_id)

Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: in_progress
Batch status: completed

In [82]:
batch_data

Batch(id='batch_6995ecf7e7a48190a05f21d5dca09add', completion_window='24h', created_at=1771433207, endpoint='/v1/chat/completions', input_file_id='file-8jD16j49SGdUcUbYmwt2aF', object='batch', status='completed', cancelled_at=None, cancelling_at=None, completed_at=1771434323, error_file_id=None, errors=None, expired_at=None, expires_at=1771519607, failed_at=None, finalizing_at=1771434321, in_progress_at=1771433209, metadata={'job_name': 'ravenpack_headline_scoring'}, model='gpt-4-0613', output_file_id='file-Lm821p9t7K547dxg1tBpXd', request_counts=BatchRequestCounts(completed=10, failed=0, total=10), usage=BatchUsage(input_tokens=1127, input_tokens_details=InputTokensDetails(cached_tokens=0), output_tokens=264, output_tokens_details=OutputTokensDetails(reasoning_tokens=0), total_tokens=1391))

In [83]:
batch_data.model_dump()

{'id': 'batch_6995ecf7e7a48190a05f21d5dca09add',
 'completion_window': '24h',
 'created_at': 1771433207,
 'endpoint': '/v1/chat/completions',
 'input_file_id': 'file-8jD16j49SGdUcUbYmwt2aF',
 'object': 'batch',
 'status': 'completed',
 'cancelled_at': None,
 'cancelling_at': None,
 'completed_at': 1771434323,
 'error_file_id': None,
 'errors': None,
 'expired_at': None,
 'expires_at': 1771519607,
 'failed_at': None,
 'finalizing_at': 1771434321,
 'in_progress_at': 1771433209,
 'metadata': {'job_name': 'ravenpack_headline_scoring'},
 'model': 'gpt-4-0613',
 'output_file_id': 'file-Lm821p9t7K547dxg1tBpXd',
 'request_counts': {'completed': 10, 'failed': 0, 'total': 10},
 'usage': {'input_tokens': 1127,
  'input_tokens_details': {'cached_tokens': 0},
  'output_tokens': 264,
  'output_tokens_details': {'reasoning_tokens': 0},
  'total_tokens': 1391}}

In [84]:
METADATA_JSON.parent.mkdir(parents=True, exist_ok=True)
METADATA_JSON.write_text(
    json.dumps(batch_data.model_dump(), indent=2, default=str),
    encoding="utf-8",
)
print(f"Saved batch metadata to: {METADATA_JSON}")

Saved batch metadata to: ../_output/openai_headline_batch_metadata.json

In [85]:
output_file_id = batch_data.output_file_id
error_file_id = batch_data.error_file_id

In [87]:
open_ai_adapter._download_file_content(openai_client, output_file_id, BATCH_OUTPUT_JSONL)

Saved file content to: ../_output/openai_headline_batch_output.jsonl

In [53]:
open_ai_adapter._download_file_content(openai_client, error_file_id, BATCH_ERROR_JSONL)

ValueError: Expected a non-empty value for `file_id` but received None

In [14]:
# columns = ['entity_name', 'map_ticker', 'timestamp_utc', 'rpa_date_utc', 'timestamp_et', 'date', 'headline']
columns = ['timestamp_utc', 'rpa_date_utc', 'timestamp_et', 'date']
from zoneinfo import ZoneInfo

df = df.copy()
ts = pd.to_datetime(df['timestamp_utc'], errors='coerce')
if ts.dt.tz is None:
    ts = ts.dt.tz_localize('UTC')

df.loc[:, 'timestamp_et'] = ts.dt.tz_convert(ZoneInfo('America/New_York'))
df['date'] = df['timestamp_et'].dt.date
df['rpa_date_utc'] = pd.to_datetime(df['rpa_date_utc'], errors='coerce').dt.date
df['date_eq'] = df['date'] == df['rpa_date_utc']
df.loc[~df['date_eq']][columns]
# df.loc[:, 'date'] = ts.dt.tz_convert(ZoneInfo('America/New_York')).dt.date
# df = df.loc[:, columns].copy()

,timestamp_utc,rpa_date_utc,timestamp_et,date
16,2023-11-18 00:15:46.847,2023-11-18,2023-11-17 19:15:46.847000-05:00,2023-11-17
21,2023-03-30 01:22:47.685,2023-03-30,2023-03-29 21:22:47.685000-04:00,2023-03-29
45,2023-10-24 01:33:27.257,2023-10-24,2023-10-23 21:33:27.257000-04:00,2023-10-23
59,2022-03-04 00:16:24.939,2022-03-04,2022-03-03 19:16:24.939000-05:00,2022-03-03
95,2022-03-18 00:43:10.244,2022-03-18,2022-03-17 20:43:10.244000-04:00,2022-03-17
...,...,...,...,...
135706,2023-02-09 00:07:13.723,2023-02-09,2023-02-08 19:07:13.723000-05:00,2023-02-08
135722,2024-03-12 00:41:48.095,2024-03-12,2024-03-11 20:41:48.095000-04:00,2024-03-11
135736,2024-01-23 00:13:24.637,2024-01-23,2024-01-22 19:13:24.637000-05:00,2024-01-22
135748,2022-02-11 02:07:19.233,2022-02-11,2022-02-10 21:07:19.233000-05:00,2022-02-10
135818,2022-05-06 00:53:24.041,2022-05-06,2022-05-05 20:53:24.041000-04:00,2022-05-05

In [ ]:
import json
import os
import re
import time
from pathlib import Path
from zoneinfo import ZoneInfo

import pandas as pd
from openai import OpenAI
from settings import config

DATA_DIR = Path(config("DATA_DIR"))
OUTPUT_DIR = Path(config("OUTPUT_DIR"))
OPENAI_API_KEY = config("OPENAI_API_KEY")
OPENAI_MODEL = config("OPENAI_MODEL")

INPUT_CANDIDATE = DATA_DIR / "RAVENPACK_cleaned.parquet"
REQUESTS_JSONL = DATA_DIR / "openai_headline_requests.jsonl"
SCORES_PARQUET = DATA_DIR / "daily_headline_polarity.parquet"

BATCH_OUTPUT_JSONL = OUTPUT_DIR / "openai_headline_batch_output.jsonl"
BATCH_ERROR_JSONL = OUTPUT_DIR / "openai_headline_batch_errors.jsonl"
METADATA_JSON = OUTPUT_DIR / "openai_headline_batch_metadata.json"
ID_ROW_JSON = OUTPUT_DIR / "id_to_row_mapping.json"

In [ ]:
id_to_row = pd.read_json(ID_ROW_JSON, orient="index")

In [29]:
id_to_row

     ticker       date            entity_name
rp-0   HTGC 2022-01-14  Hercules Capital Inc.
rp-1   HTGC 2022-08-30  Hercules Capital Inc.
rp-2   HTGC 2023-08-07  Hercules Capital Inc.
rp-3   HTGC 2023-04-20  Hercules Capital Inc.
rp-4   HTGC 2024-02-15  Hercules Capital Inc.
rp-5   HTGC 2022-02-22  Hercules Capital Inc.
rp-6   HTGC 2024-01-23  Hercules Capital Inc.
rp-7   HTGC 2023-07-10  Hercules Capital Inc.
rp-8   HTGC 2024-04-18  Hercules Capital Inc.
rp-9   HTGC 2022-05-05  Hercules Capital Inc.

In [68]:
id_to_row.loc['rp-11'] = id_to_row.loc['rp-6'].copy()

In [69]:
id_to_row

      ticker       date            entity_name
rp-0    HTGC 2022-01-14  Hercules Capital Inc.
rp-1    HTGC 2022-08-30  Hercules Capital Inc.
rp-2    HTGC 2023-08-07  Hercules Capital Inc.
rp-3    HTGC 2023-04-20  Hercules Capital Inc.
rp-4    HTGC 2024-02-15  Hercules Capital Inc.
rp-5    HTGC 2022-02-22  Hercules Capital Inc.
rp-6    HTGC 2024-01-23  Hercules Capital Inc.
rp-7    HTGC 2023-07-10  Hercules Capital Inc.
rp-8    HTGC 2024-04-18  Hercules Capital Inc.
rp-9    HTGC 2022-05-05  Hercules Capital Inc.
rp-10   HTGC 2024-01-23  Hercules Capital Inc.
rp-11   HTGC 2024-01-23  Hercules Capital Inc.

In [80]:
open_ai_processor.build_scores_df(id_to_row)

  ticker        date  n_headlines  score_sum
0   HTGC  2022-01-14            1          0
1   HTGC  2022-02-22            1          1
2   HTGC  2022-05-05            1          0
3   HTGC  2022-08-30            1          1
4   HTGC  2023-04-20            1          0
5   HTGC  2023-07-10            1          0
6   HTGC  2023-08-07            1          1
7   HTGC  2024-01-23            1          1
8   HTGC  2024-02-15            1          0
9   HTGC  2024-04-18            1          0

In [81]:
df = pd.read_parquet(SCORES_PARQUET)
df.head()

  ticker        date  n_headlines  score_sum
0   HTGC  2022-01-14            1          0
1   HTGC  2022-02-22            1          1
2   HTGC  2022-05-05            1          0
3   HTGC  2022-08-30            1          1
4   HTGC  2023-04-20            1          0